<%- include("partials/header.ejs", { title: "Add Land", show_navbar: true }) %>

<div class="d-flex align-items-center bg-light" style="min-height: 100vh;">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card rounded-0 shadow">
                    <div class="card-body">
                        <h3>Add Land</h3>
                        <%- include("partials/error.ejs") %>
                        <form
                            action="/form/add"
                            method="POST"
                            enctype="multipart/form-data"
                        >
                            <%- include("partials/land.ejs", { showKhasra: true,
                            allowEmpty: false }) %>

                            <div class="form-group">
                                <label for="numPts">Number of Points:</label>
                                <input
                                    required
                                    type="number"
                                    name="numPts"
                                    class="form-control"
                                    id="numPts"
                                    placeholder="Enter number of points"
                                    oninput="addPointFields()"
                                    min="3"
                                />
                            </div>
                            <div class="form-group" id="points">
                                <!-- Add fields for lat lon points dynamically -->
                            </div>
                            <% if(typeof errorMsg != 'undefined') { %>
                            <div class="form-group">
                                <label for="area">Land Area:</label>
                                <input
                                    required
                                    type="number"
                                    min="0.000001"
                                    step="0.000001"
                                    name="area"
                                    class="form-control"
                                    id="area"
                                    placeholder="Enter land area"
                                    value="<%= data.area %>"
                                />
                            </div>

                            <div class="form-group">
                                <label for="khataNo">Khata Number:</label>
                                <input
                                    required
                                    type="number"
                                    name="khataNo"
                                    class="form-control"
                                    id="khataNo"
                                    placeholder="Enter Khata number of owner"
                                    value="<%= data.khataNo %>"
                                />
                            </div>

                            <div class="form-group">
                                <label for="ownerName">Owner Name:</label>
                                <input
                                    required
                                    type="text"
                                    name="ownerName"
                                    class="form-control"
                                    id="ownerName"
                                    placeholder="Enter owner name"
                                    pattern="[a-zA-Z][a-zA-Z ]*"
                                    value="<%= data.ownerName %>"
                                />
                            </div>
                            <% } else { %>
                            <div class="form-group">
                                <label for="area">Land Area:</label>
                                <input
                                    required
                                    type="number"
                                    min="0.000001"
                                    step="0.000001"
                                    name="area"
                                    class="form-control"
                                    id="area"
                                    placeholder="Enter land area"
                                />
                            </div>

                            <div class="form-group">
                                <label for="khataNo">Khata Number:</label>
                                <input
                                    required
                                    type="number"
                                    name="khataNo"
                                    class="form-control"
                                    id="khataNo"
                                    placeholder="Enter Khata number of owner"
                                />
                            </div>

                            <div class="form-group">
                                <label for="ownerName">Owner Name:</label>
                                <input
                                    required
                                    type="text"
                                    name="ownerName"
                                    class="form-control"
                                    id="ownerName"
                                    placeholder="Enter owner name"
                                    pattern="[a-zA-Z][a-zA-Z ]*"
                                />
                            </div>

                            <% } %>
                            <!-- <div class="form-group">
                                        <label for="certificate">Certificate:</label>
                                        <input type="file" name="certificate" class="form-control" id="certificate">
                                    </div> -->
                            <div class="form-group">
                                <label for="otherDocs">Other Docs:</label>
                                <input
                                    type="file"
                                    name="otherDocs"
                                    class="form-control"
                                    id="otherDocs"
                                    multiple
                                />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function addPointFields() {
        var numPts = document.getElementById('numPts').value;
        var container = document.getElementById('points');
        while (container.hasChildNodes()) {
            container.removeChild(container.lastChild);
        }
        for (let i = 0; i < numPts; i++) {
            var fieldSet = document.createElement('fieldset');
            fieldSet.className = 'form-group';

            var rowDiv = document.createElement('div');
            rowDiv.className = 'row';

            var legend = document.createElement('legend');
            legend.className = 'col-form-label col-sm-2';
            legend.innerHTML = 'Point ' + (i + 1).toString();
            rowDiv.appendChild(legend);

            var latInput = document.createElement('input');
            latInput.type = 'text';
            latInput.name = 'lat' + i;
            latInput.id = 'lat' + i;
            latInput.className = 'form-control col-sm-4';
            latInput.placeholder = 'Enter Latitude';
            latInput.required = true;
            rowDiv.appendChild(latInput);

            var lonInput = document.createElement('input');
            lonInput.type = 'text';
            lonInput.name = 'lon' + i;
            lonInput.id = 'lon' + i;
            lonInput.className = 'form-control ml-2 col-sm-4';
            lonInput.placeholder = 'Enter Longitude';
            lonInput.required = true;
            rowDiv.appendChild(lonInput);

            fieldSet.appendChild(rowDiv);
            container.appendChild(fieldSet);
        }
    }
</script>

<%- include("partials/footer.ejs") %>
