<div class="form-group">
    <label for="state">State: </label>
    <select required name="state" class="form-control" id="state">
        <% if (typeof errorMsg != 'undefined') { %>
            <option value="<%= data.state %>" selected hidden><%= data.state %></option>
            <% } else { %>
            <option value="" selected hidden>Select State</option>
        <% } %>
    </select> 
</div>
<div class="form-group">
    <label for="village">Village:</label>
    <select name="village" class="form-control" id="village">
        <option value="" selected hidden>Select Village</option>
    </select>
</div>
<% } else { %>
<div class="form-group">
    <label for="district">District: </label>
    <select required name="district" class="form-control" id="district">
        <% if (typeof errorMsg != 'undefined') { %>
            <option value="<%= data.district %>" selected hidden><%= data.district %></option>
            <% } else { %>
                <option value="" selected hidden>Select District</option>
        <% } %>
    </select>
</div>
<div class="form-group">
    <label for="subDistrict">Sub-District: </label>
    <select required name="subDistrict" class="form-control" id="subDistrict">
        <% if (typeof errorMsg != 'undefined') { %>
            <option value="<%= data.subDistrict %>" selected hidden><%= data.subDistrict %></option>
            <% } else { %>
                <option value="" selected hidden>Select Sub-District</option>
        <% } %>
    </select>
</div>
<div class="form-group">
    <label for="village">Village:</label>
    <select required name="village" class="form-control" id="village">
        <% if (typeof errorMsg != 'undefined') { %>
            <option value="<%= data.village %>" selected hidden><%= data.village %></option>
            <% } else { %>
                <option value="" selected hidden>Select Village</option>
        <% } %>
    </select>
</div>
<% if (showKhasra) { %>
    <div class="form-group">
        <label for="khasraNo">Khasra Number: </label>
        <input required value="<% if(typeof errorMsg != 'undefined') { %><%= data.khasraNo %> <% } %>" type="text" name="khasraNo" class="form-control" id="khasraNo" aria-describedby="emailHelp" placeholder="Enter Khasra Number" pattern="[0-9]+(\/[0-9]+)*">
    </div>
<% } %>
